<!DOCTYPE html>
<html lang="en">
    
<head>
    <title>Random Number App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
    
<body style="background-color:#f8f9fa">
    <div class="container">
        <br>
        <div class="page-header">
            <h1>Random Number App</h1>
        </div>
        <br><br>
        <form method="post">
            <div class="form-group row">
                <label for="dist" class="col-sm-2">Distribution</label>
                <select name="dist" id="dist" style="width: 8rem">
                  <option value="n" {% if dist == "n" %} selected="selected"{% endif %}>Normal</option>
                  <option value="l" {% if dist == "l" %} selected="selected"{% endif %}>Lognormal</option>
                </select>
            </div>
            <div class="form-group row">
                <label for="mean" class="col-sm-2">Mean</label>
                <input type="text" name="mean" id="mean"  style="width: 8rem" value={{mean}}>
            </div>
            <div class="form-group row">
                <label for="var" class="col-sm-2">Variance</label>
                <input type="text" name="var" id="var"  style="width: 8rem" value={{var}}>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Get Data</button>
        </form>
        <br><br>
        <div id="plot"></div>
    </div>
</body>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
{% if rand_num_list is defined %}    
<script>
    let data = [{
      x: {{ rand_num_list | tojson }},
      type: 'histogram',
      histnorm: 'probability',
      opacity: 0.75
    }];
    Plotly.newPlot('plot', data, {title: 'Sample Data'});
</script>
{% endif %}
    
</html>