<!DOCTYPE html>
<html lang="en">
    
<head>
    <title>Annuity Pricer App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
    
<body style="background-image:url(https://g.foolcdn.com/image/?url=https%3A//g.foolcdn.com/editorial/images/532546/man-and-woman-relaxing-in-lounge-chairs-on-a-beach-in-the-maldives-mature-couple-vacation-early-retirement.jpg&w=2000&op=resize)">
    <div class="container">
        <br>
        <div class="page-header">
            <h1>Annuity Pricer App</h1>
        </div>
        <br><br>
        <form method="post">
            <div class="form-group row">
                <label for="age" class="col-sm-2">Age</label>
                <input type="text" name="age" id="age"  style="width: 8rem" value={{age}}>
            </div>
            <div class="form-group row">
                <label for="sex" class="col-sm-2">Sex</label>
                <select name="sex" id="sex" style="width: 8rem">
                    <option value="m" {% if sex == "m" %} selected="selected"{% endif %}>Male</option>
                    <option value="f" {% if sex == "f" %} selected="selected"{% endif %}>Female</option>
                </select>
            </div>
            <div class="form-group row">
                <label for="payment" class="col-sm-2">Payment Amount</label>
                <input type="text" name="payment" id="payment"  style="width: 8rem" value={{payment}}>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Calculate</button>
        </form>
        <br><br>
        <form>
            <div class="form-group row">
                <label for="result_annuity" class="col-sm-2">Annuity Value</label>
                <input type="text" name="result_annuity" id="result_annuity"  style="width: 8rem" value={{result_annuity}}>
            </div>
            <div class="form-group row">
                <label for="result_explife" class="col-sm-2">Life Expectancy</label>
                <input type="text" name="result_explife" id="result_explife"  style="width: 8rem" value={{result_explife}}>
            </div>
        </form>
        
    </div>
</body>

    
</html>